@import 'nib'
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic");

*
	box-sizing border-box
.clearfix
	clearfix()          
body
	font-family: 'Open Sans', sans-serif
	font-weight 300
	color #000
	background #f7f7f7
	position relative
	max-width 1920px
	min-width 1280px
	padding 0
	margin 0
	clearfix()
*
	box-sizing border-box
a
	text-decoration none
img
	max-width 100%
.wrap
	width 1250px
	margin 0 auto