<!DOCTYPE html>
html(lang="ru-en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="css/style.css")
	title Склад ДВ | Главная
body
	section.nav-line
		.wrap
			nav
				ul
					li
						a(href="#") Каталог
					li
						a(href="#") Партнерам
					li
						a(href="#") О нас
					li.active
						a(href="#") Скидки и акции
					li
						a(href="#") Оплата и доставка
					li
						a(href="#") Контакты
	header
		.wrap
			.logo
				a(href="/")
					img(src="images/logo.svg", alt="Склад ДВ")
			.search-panel
				.search-line
					input(type="text" placeholder="Поиск")
					input(type="submit")
				.search-example Например,
					a(href="#") метровые обои
			.top-contacts
				.adress
					a(href="#") Адреса
				.phone
					div +7 (924) 304-77-30
					a(href="#") Заказать звонок
			.cart
				.cart-sum 1200 р
	section.categories
		.wrap
			ul
				li
					a(href="#") Обои
				li
					a(href="#") Свет
				li
					a(href="#") Декор
				li
					a(href="#") Товары для ремонта
	section.slider
		.slider-item
			img(src="images/banner_komar.jpg", alt="")
			.wrap
				.slide-title
					h1 ЭКСКЛЮЗИВ ОТ KOMAR
				.more-btn Подробнее
	section.hot
		.wrap
			h2 ГОРЯЧИЕ ПРЕДЛОЖЕНИЯ
			.hot-items
				.item
					a(href="#")
						img(src="images/hot-1.jpg", alt="Komar 8-961 Light Blue")
						.title
							div Komar
							div 8-961 Light Blue
						.about Бумага, 368х254 см, Германия
						.new-price 2600Р
						.old-price 3290Р
				.item
					a(href="#")
						img(src="images/hot-2.jpg", alt="Komar 8-961 Light Blue")
						.title
							div Komar
							div 8-961 Light Blue
						.about Бумага, 368х254 см, Германия
						.new-price 2600Р
						.old-price 3290Р
				.item
					a(href="#")
						img(src="images/hot-3.jpg", alt="Komar 8-961 Light Blue")
						.title
							div Komar
							div 8-961 Light Blue
						.about Бумага, 368х254 см, Германия
						.new-price 2600Р
						.old-price 3290Р
				.item
					a(href="#")
						img(src="images/hot-4.jpg", alt="Komar 8-961 Light Blue")
						.title
							div Komar
							div 8-961 Light Blue
						.about Бумага, 368х254 см, Германия
						.new-price 2600Р
						.old-price 3290Р
	section.about
		.wrap
			h3 О компании
			.txt-container
				p.
					Компания «Склад-ДВ» активно работает на рынке с 1998 года. За эти годы нам удалось расширить ассортимент до нескольких тысяч наименований обоев и светильников, сопутствующих товаров, которые постоянно поддерживаются на складе в оптимальных запасах.
				p.
					На наших складах присутствуют товары с различных фабрик – производителей, таких как Москва, Komar, Zambaiti, Версаль, Гомель, Корюковка, Ланита, Палитра, Синтра, Элизиум, Тула, Саратов, Минск, Новосибирск, Пенза, Корейская фабрика Shinhan и многие другие. Мы предлагаем нашим клиентам товар по выгодным и доступным ценам.
				p.
					Оптовые продажи осуществляются с Оптового магазина склада в Хабаровске, розничные продажи организованы в сети наших магазинов в городе Хабаровске: «Обои Дисконт Центр», «Обои Центр», «Обои Маркет», «Обои+Свет», «Славянские Обои».
				p.
					В городе Комсомольск-на-Амуре: «Новый Тон», «Обои+Свет», «Обои Центр».
				p.
					Ориентируясь на потребности наших покупателей, мы регулярно расширяем ассортимент новыми коллекциями. 
				p.
					Компания «Склад-ДВ» понимает и уважает желания наших клиентов, уделяя огромное значение качеству обслуживания.
				p.
					Мы рады новым партнерам и всегда готовы предложить удобную ценовую политику. Налаженные за многие годы технологии работы на Дальнем Востоке делают нас надежными партнерами для Вашего бизнеса.
				p.
					На все Ваши вопросы и просьбы всегда готовы откликнуться наши менеджеры.
	section.services
		.wrap
			h5 Сервисы
			.services-wrap
				.service-item
					a(href="#")
						.service-photo
						.service-title Интерактивная комната
						.service-info Посмотрите, как будут выглядеть выбранные вами обои
				.service-item
					a(href="#")
						.service-photo
						.service-title Калькулятор расчета рулонов
						.service-info Посчитайте, сколько рулонов вам понадобится
				.service-item
					a(href="#")
						.service-photo
						.service-title Товар "под заказ"
						.service-info Закажите то, что не нашли на сайте
				.service-item
					a(href="#")
						.service-photo
						.service-title Наши магазины
						.service-info Купите нужный товар в нашем розничном магазине
	section.info
		.wrap
			.info-items
				.info-item
					a(href="#") Письмо директору
				.info-item
					a(href="#") Вопросы и ответы
				.info-item
					a(href="#") Полезная информация
				.info-item
					a(href="#") Новости
	footer
		.wrap
			.social
				.social-links
					a(href="#")
						img(src="images/VK.svg", alt="")
					a(href="#")
						img(src="images/Facebook.svg", alt="")
					a(href="#")
						img(src="images/Instagram.svg", alt="")
				.created-by Developed by
					a(href="#") OneDesign.Pro
			p.
				© 1998-2016, СКЛАД-ДВ - Обои, обойный клей, краски, кисти, валики, светильники, карнизы, шторы, зеркала, картины
			p.
				Россия, г. Хабаровск: Обои Дисконт Центр, Обои Центр, Обои Маркет, Обои+Свет, Славянские Обои
			p.
				Россия, г. Комсомольск-на-Амуре: Новый Тон, Обои+Свет, Обои Центр
			p   +7 (924) 304-77-30   |  94-44-90  |
				a(href="mailto:info@sklad-dv.ru") info@sklad-dv.ru

